@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes borderShine {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes sweepGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulseBorder {
  0% {
    box-shadow: 0 0 1vw rgba(0, 255, 128, 0.2);
  }
  50% {
    box-shadow: 0 0 2vw rgba(0, 255, 128, 0.6);
  }
  100% {
    box-shadow: 0 0 1vw rgba(0, 255, 128, 0.2);
  }
}
